.tile {
  width: 200px;
  height: 200px;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin: 30px;
  border-style: solid;
  border-width: 1px;
}

.title {
  margin-top: 0px;
}

.dashboard {
  text-align: center;
}

.jumbotron.landing {
  background: url('../img/drift.jpg') no-repeat center center;
  display: block;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.container.content {
  padding: 100px;
}

#about {
  padding: 90px;
  color: black;
  height: 400px;
}

#fitbit{
  margin-top:100px;
  text-align:center;
  border: solid 1px #00C7C8;
  border-radius: 25px;
  width:150px;
  margin: 0 auto;
}

#fitbit > input {
  font-family: 'Lato', sans-serif;
  color: #00C7C8;
  font-size: 13px;
}

#fitbit p:hover{
  color: #FFF;
  transition: .4s;
}

#fitbit:hover{
  background-color:#00C7C8;
  transition:.4s;
}

input {
  border: none;
  background: none;
}