<script id='layout' type='text/x-handlebars-template'>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Driftly</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="dashboard">Dashboard</a></li>
          <li><a href="connect">Connect</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href='/logout' class='logout'>Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id='container' class="center"></div>
    </div>
  </div>
</script>

<script id='dashboard' type='text/x-handlebars-template'>
    <br>
    <br>
    <h1>Dashboard</h1>
</script>

<script id='tile' type='text/x-handlebars-template'>
    <h2>{{ name }}</h2>
    {{ steps }}
    </div>
</script>

<script id='profile' type='text/x-handlebars-template'>
    <br>
    <br>
    <h1>Profile</h1>
    {{ name }}
</script>

<script id='connect' type='text/x-handlebars-template'>
  <br>
  <br>
  <h2>Connect your accounts</h2>
    <form id="fitbit" action="/auth/fitbit" method="get">
        <input type="submit" value="Connect to Fitbit">
    </form>
  </div>
</script>

<script>
  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>
